* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 50vw;
    height: 50vh;
    background-color: black;
    margin: 20vh auto;
    border-radius: 10px;
    box-shadow: 0 20px 30px black;
}

.btn {
    font: bold 30px sans-serif;
    display: flex;
    width: 50px;
    justify-content: center;
    align-items: center;
    color: #00000000;
    user-select: none;
    z-index: 1;
}

.btn:hover {
    color: white;
    background-color: #00000066;
    border-radius:  10px;
    cursor: pointer;
    transition: all 1s;
}

.container-images {
    position: absolute;
    display: flex;
    width: 50vw;
    height: 50vh;
    border-radius: 10px;
    overflow: hidden;
}

.image {
    width: 50vw;
    height: 50vh;
    transition: all 1s;
}

.image:first-child {
    margin-left: -100%;
}

.image img {
    width: 50vw;
    height: 50vh;
    border-radius: 10px;
}